<!-- 1. onSubmit() peab siduma end .ts failis oleva täpselt sama nimetusega funktsiooniga
2. peab ka olema täpselt sama palju muutujaid saadetud -->
<form (ngSubmit)="onSubmit(esemeLisamiseVorm)" #esemeLisamiseVorm="ngForm">
    <label>Id</label> <br>
    <input ngModel name="id" type="number" required> <br><br>
    <label>Nimetus</label> <br>
    <input ngModel name="title" type="text" required> <br><br>
    <label>Hind</label> <br>
    <input ngModel name= "price" type="number" required> <br><br>
    <label>Pilt</label> <br>
    <input ngModel name="imgSrc" type="text" required> <br><br>
    <label>Kategooria</label> <br>
    <select name="category">
        <option *ngFor="let category of categories" value="{{ category }}">{{ category }}</option>
        </select>
      <br>
    <label>Nähtav</label> <br>
    <input ngModel name="isActive" type="checkbox"> <br><br>
    <button [disabled]="esemeLisamiseVorm.invalid">Lisa toode</button> <br>
</form>
