<!-- <button (click)="onAddItemsToDatabase()">LISA andmed databaasi</button> -->

<div *ngFor="let item of items" [ngClass]="{active: item.isActive, inactive: !item.isActive}">
    <div>Id: {{ item.id }}</div>
    <div (click)="onChangeActive(item)">
    <div>{{ item.price | itemPrice }}</div>
    <div>{{ item.title }}</div>
    <div>{{ item.imgSrc }}</div>
    <div>{{ item.category}}</div>
    </div>
    <button (click)="onDeleteItem(item)">Kustuta toode</button>
    <button routerLink="/admin/muuda-ese/{{item.id}}">Muuda</button>
    <br><br>
</div>
