<!-- <button (click)="onAddItemsToDatabase()">LISA andmed databaasi</button> -->
<br><br>

<label for="">Otsi toodet:</label>
<input (keyup)="onSearch()" 
[(ngModel)]="searchedItem" 
type="text">
{{ searchedItem }}

<br><br>

<div *ngFor="let item of items"  class="item" [ngClass]="{active: item.isActive, inactive: !item.isActive}">
    <div>Id: {{ item.id }}</div>
    <div (click)="onChangeActive(item)">
    <div>{{ item.price | itemPrice }}</div>
    <div>{{ item.title }}</div>
    <div>{{ item.imgSrc }}</div>
    <div>{{ item.category}}</div>
    </div>
    <button (click)="onDeleteItem(item)">Kustuta toode</button>
    <button routerLink="/admin/muuda-ese/{{item.id}}">Muuda</button>
    <br><br>
</div>
