<!-- ngif- naitab siis kui on avaldis true (v6i muutuja) -->
<button *ngIf="cartItems.length >0" (click)="onEmptyCart()">Tyhjenda ostukorv</button>

<br><br>

<!-- kaks v6rdusmarki- kysib kas vasak pool on v6rdne parema poolega. -->
<div *ngIf="cartItems.length == 0">
<div>Ostukorv on tyhi</div>
<img src="assets/shopping-cart.png" alt="">
</div>

<!-- ngfor- Esimene tegu on otsida yles muutuja "of" jarel
otsitakse component.ts failist -->
<div *ngFor="let cartItem of cartItems" class="item">
    <div>toode</div>
    <div class="price">{{ cartItem.price }}</div>
    <div class="title">{{ cartItem.title }}</div>
    <img src="{{ cartItem.imgSrc }}" alt=""><br>
    <button (click)="onDeleteFromCart(cartItem)">kustuta toode</button>
    
    <br><br>
</div>

<div *ngIf="cartItems.length >0">Ostukorvi kogu summa on {{ sumOfCart }} EUR</div>

