<div class="navbar">
<img class="logo" routerLink="/" src="assets/pood.png" alt="">
<button routerLink="admin">Admini vaatesse</button>
    <img class="cart-button" routerLink="ostukorv" src="assets/shopping-cart.png" alt="">
</div>

<!-- alt- alternative text
    1.kui pilt miskiparast naha ei ole, siis naitab seda teksti
    2.arendaja ei pea minema lehele seda pilti otsima, et vaadata mis seal taga peitub
    3.riigi ettev6tetel on n6ue ja teistel on soovituslik pilt sinna pimedate jaoks panna --> 

<!-- siia tulevad app-routing seest seosed millist lehte ta näitab
millisel URL pathil: siia asemele tuleb Componendi HTML -->
<router-outlet></router-outlet>