<input type="range" min="0" max="15" [(ngModel)]="wordCount">
<!-- <div>{{ date | date: 'shortTime' }}</div>
<div>{{ hind | currency: 'EUR' }}</div>
<div>{{ protsent | percent }}</div>
<div>{{ lause | uppercase }}</div>
<div>{{ nimi | titlecase }}</div>
<br> -->
<button (click)="onSortByPrice()">Järjesta hinna j2rgi</button>
<button (click)="onSortByTitle()">Järjesta t2hestiku j2rgi</button>
<br><br><br>

<div *ngFor="let item of items" class="item">
    <div>toode</div>
    <div class="price">{{ item.price | itemPrice }}</div>
    <div class="title">{{ item.title | shortenTitle:wordCount }}</div>
    <img routerLink="toode/{{item.id}}" src="{{ item.imgSrc }}" alt="">
    <button (click)="onAddToCart(item)">{{"Lisa ostukorvi" | translate}}</button>
    <br><br>
</div>

<!-- <div *ngFor="let pealkiri of pealkirjad">
    {{ pealkiri }}
</div>

<br><br>

{{ objekt }}
<br>
{{ objekt.price }}
<br>
{{ objekt.title }} -->