.price{
    background-color: transparent;
    width: 50px;
}
    
.title{
    color: rgb(10, 10, 10);
    font-size: large;
    border: 1px dotted gray
}

.carousel-wrapper {
    width: 80%;
    margin: 5% 10%;

}

.picsum-img-wrapper {
    width: 100%;
    height: 500px;

}

.picsum-img-wrapper img {
    width: 100%;

}

.newProduct {
    background-color: rgb(136, 241, 136);
    width: 25%;
}